output "HDMI-A-1" {
    mode "3840x2160@119.880"
    scale 1.5
    position x=0 y=150
}

output "DP-1" {
    mode "2560x1440@300"
    scale 1
    position x=2560 y=0
    focus-at-startup
}

output "DP-2" {
    mode "1920x1080@143.980"
    scale 1
    position x=5120 y=150
}

spawn-at-startup "gammastep" "-O" "4500"
prefer-no-csd

input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
            options "fkeys:basic_13-24"
        }
        repeat-delay 200
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
        scroll-factor 0.6
    }

    mouse {
        accel-speed -0.45
        accel-profile "flat"
    }
}

// environment {
//     GTK_THEME "Catppuccin-GTK-Purple-Dark"
// }

layout {
    gaps 0
    background-color "#15141B"

    focus-ring {
        off
    }

    border {
        off
    }

    shadow {
        off
    }
}

cursor {
    xcursor-theme "catppuccin-mocha-lavender-cursors"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}
